
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.logo img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    text-align: left;
    background-color: white;
    margin-top: 20px;
}

.intro-text {
    max-width: 50%;
}

.introduction h1 {
    font-size: 28px;
    color: #333;
}

.introduction p {
    font-size: 18px;
    line-height: 1.6;
}

.highlight {
   color: red !important;
}

figure {
    margin-left: 20px;
    max-width: 300px;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}



@media (max-width: 768px) {
    .introduction {
        flex-direction: column;
    }

    .intro-text, figure {
        max-width: 100%;
    }

    figure {
        margin-top: 20px;
        margin-left: 0;
    }
}

